<script type="module">
  import {createConsumer} from "@rails/actioncable"

    const consumer = createConsumer()

    let results = <%= @results.to_json.html_safe %>
    consumer.subscriptions.create({ channel: "ResultsChannel",  poll_id: <%= @poll.id %>}, {
        received(data) {
            results = data
            updateResults();
        }
    })

    const updateResults = () => {
        results = Object.fromEntries(Object.entries(results).sort((a, b) => b[1] - a[1]))
        const resultsDiv = document.getElementById('r')
        resultsDiv.innerHTML = ''
        for (const [key, value] of Object.entries(results)) {
            const resultDiv = document.createElement('div')
            resultDiv.innerHTML = `${key}: ${value} votes`
            resultsDiv.appendChild(resultDiv)
        }
    }

  document.addEventListener('DOMContentLoaded', () => {
      updateResults()
  })
    if (document.readyState === 'complete') {
        updateResults()
    }

</script>

<style>
    #r {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        font-size: 20px;
    }

    #r div {
        margin: 5px;
    }
</style>

<div id="r"></div>